@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("img/tela\ fundo\ rosa\ 2.jpg") center/cover no-repeat;
}

.card {
    width: 420px;
    padding: 30px;
    text-align: center;
    color: #000;
    background: rgba(232, 227, 227, 0.18);
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,.5);
}

.card h1, .card h2, .mensagem, .contador {
    margin-bottom: 20px;
}

input, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 15px;
}

button {
    background: #6c63ff;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background .3s;
}

button:hover {
    background: #584fe0;
}

.hidden {
    display: none;
}

#mensagem {
    white-space: pre-line;
}

@media (max-width: 480px) {
    .card {
        width: 90%;
        padding: 20px;
    }
}
